<section class="surgery">
    <div class="return">
        <i class="material-icons" (click)="goBack()">arrow_back</i>
    </div>
    <div class="surgery__info">
        <h2>Consultar Cirugias</h2>
        <p>{{name}}</p>
        <p>CC {{dni}}</p>
    </div>
    <div class="surgery__content">
        <div class="surgery__img">
            <img src="assets/img/image4.jpg" alt="image">
        </div>
        <div class="surgery__form">
            <form action="" class="fields-container" [formGroup]="formSurgery">
                <mat-form-field>
                    <mat-label>Especialidad</mat-label>
                    <mat-select disableRipple formControlName="surgery" [ngClass]="{ 'is-invalid':  formSu.surgery.errors }">
                        <mat-option [value]="item.surgery" *ngFor="let item of arraySurgery ">{{item.surgery}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!!formSu['surgery'].errors">
                        <mat-error *ngIf="!!formSu['surgery'].errors.required">Este campo es requerido</mat-error>
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button (click)="searchSurgery()">Consultar</button>
            </form>
            <div class="surgery__result">
                <mat-list role="list" *ngFor="let cost of listCost">
                    <mat-list-item role="listitem">
                        <p>{{cost.surgery}}</p>
                        <p class="surgery__cost">$ {{cost.cost}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</section>