<section class="doctor">
    <div class="doctor__info">
        <h2>Consultar Cirugias</h2>
        <p>Nombre de usuario</p>
    </div>
    <div class="doctor__content">
        <div class="doctor__img">
            <img src="" alt="">
        </div>
        <div class="doctor__form">
            <form action="" class="fields-container">
                <mat-form-field>
                    <mat-label>Especialidad</mat-label>
                    <mat-select disableRipple>
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <button>Consultar</button>
            </form>
            <div class="doctor__result">
                <mat-list role="list">
                    <mat-list-item role="listitem">Item 1</mat-list-item>
                    <mat-list-item role="listitem">Item 2</mat-list-item>
                    <mat-list-item role="listitem">Item 3</mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</section>