<section class="schedule">
    <div class="schedule__info">
        <h2>Agendar Cita</h2>
        <p>{{name}}</p>
        <p>CC {{dni}}</p>
    </div>
    <div class="schedule__content">
        <div class="schedule__img">
            <img src="assets/img/image3.png" alt="image">
        </div>
        <div class="schedule__form">
            <form action="" class="fields-container" [formGroup]="formSchedule" (ngSubmit)="save( form )" #form="ngForm">
                <mat-form-field color="accent">
                    <mat-label>Fecha de hoy:</mat-label>
                    <input matInput [matDatepicker]="picker" [errorStateMatcher]="matcher" formControlName="toDay">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Especialidad</mat-label>
                    <mat-select disableRipple formControlName="specialty" [errorStateMatcher]="matcher" [ngClass]="{ 'is-invalid':  formS.specialty.errors }">
                        <mat-option [value]="item.id" *ngFor="let item of specialty">{{item.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!!formS['specialty'].errors">
                        <mat-error *ngIf="!!formS['specialty'].errors.required">Este campo es requerido</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nombre del Medico</mat-label>
                    <mat-select disableRipple formControlName="doctor" [errorStateMatcher]="matcher" [ngClass]="{ 'is-invalid':  formS.doctor.errors }">
                        <mat-option [value]="doctor.dni" *ngFor="let doctor of doctors">{{doctor.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!!formS['doctor'].errors">
                        <mat-error *ngIf="!!formS['doctor'].errors.required">Este campo es requerido</mat-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field color="accent">
                    <input placeholder="Fecha a programar" [min]="toDay" matInput [matDatepicker]="dateCite" (click)="dateCite.open()" formControlName="dateProgram" [errorStateMatcher]="matcher" [ngClass]="{ 'is-invalid':  formS.dateProgram.errors }">
                    <mat-datepicker #dateCite></mat-datepicker>
                    <mat-error *ngIf="!!formS['dateProgram'].errors">
                        <mat-error *ngIf="!!formS['dateProgram'].errors.required">Este campo es requerido</mat-error>
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button>Aceptar</button>
            </form>
        </div>
    </div>
</section>