<section class="doctor">
    <div class="return">
        <i class="material-icons" (click)="goBack()">arrow_back</i>
    </div>
    <div class="doctor__info">
        <h2>Consulta de medicos especialistas</h2>
        <p>{{name}}</p>
        <p>CC {{dni}}</p>
    </div>
    <div class="doctor__content">
        <div class="doctor__img">
            <img src="assets/img/image2.png" alt="image">
        </div>
        <div class="doctor__form">
            <form action="" class="fields-container" [formGroup]="formDoctor">
                <mat-form-field>
                    <mat-label>Especialidad</mat-label>
                    <mat-select disableRipple formControlName="specialty" [ngClass]="{ 'is-invalid':  formD.specialty.errors }">
                        <mat-option [value]="item.specialty " *ngFor="let item of listSpec ">{{item.specialty}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="!!formD['specialty'].errors">
                        <mat-error *ngIf="!!formD['specialty'].errors.required">Este campo es requerido</mat-error>
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button (click)="searchDoctor() ">Consultar</button>
            </form>
            <div class="doctor__result ">
                <mat-list role="list " *ngFor="let doctor of listDoctor ">
                    <mat-list-item role="listitem ">{{doctor}}</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </div>
        </div>
    </div>
</section>