.home {
    margin: 3rem 0;
    &__content {
        display: flex;
        flex-wrap: wrap;
        .home__img {
            width: 40%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .home__form {
            width: 55%;
            mat-form-field {
                width: 100%;
            }
            button {
                margin-top: 2rem;
            }
        }
    }
}