<section class="home">
    <div class="home__info">
        <h2>Medico en <i class="fa fa-caret-square-o-down" aria-hidden="true"></i></h2>
        <p>Nombre de usuario</p>
    </div>
    <div class="home__content">
        <div class="home__img">
            <img src="" alt="">
        </div>
        <div class="home__form">
            <form action="" class="fields-container">
                <mat-form-field class="example-full-width">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Cedula</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Direccion</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>Sistomas</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
                <button>Enviar</button>
            </form>
        </div>
    </div>
</section>